<h1>Welcome Page</h1>

<div id="app">
  {{ message }}
</div>

<h2>Using v-bind in Vue</h2>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<h2>Using v-if in Vue</h2>

<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>

<h2>Using v-for in Vue</h2>

<div id="app-4">
  <ol v-for="todo in todos">
    <li>
      {{ todo.text }}
    </li>
  </ol>
</div>

<h2>Using v-on in Vue</h2>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<h2>Using v-model in Vue</h2>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
